---
---

@import "{{ site.theme }}";
#intro{
  text-align: center;
}

.page-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/*
.main-content pre {
  display: block;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font:
  white-space: pre;
  margin: 1em 0;
}

.page-header {
    color: #FFFFFF;
    text-align: center;
    background-color: #6699FF;
    background-image: linear-gradient(120deg, #6699FF, #6699FF);
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.9
}
.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #000000
}
#wrapper {
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
#first {
  width: 250px;
  float: left;
}
#second {
  width: 250px;
  float: left;
}
#third {
  overflow: hidden;
}
*/
.outer > * {
  display: inline-block;
  vertical-align: top;
}

.inner {
  width: 48%;
}

.inner-pic {
  width: 25%;
}

.inner-info {
  width: 75%;
}
